
.container__title{
    text-decoration: none;
    color: black;

}
.container{
    max-width: 1180px;
    margin: 0 auto;

}
main{
    color: white;
    background-image: url(img/img.jpg);
    background-repeat: no-repeat;
    padding: 50px 0;
}
.content_paragraph{
    font-weight: 300;
}
.contacts{
    background: #23374F;
    padding: 30px;
    text-align: center;
}
.container__contacts{
    color: white;
    text-decoration: none;
}
.contacts_t{
    margin-top: 0;
}
.site{
    background:#45B7E3;
    color: white;
    margin: 0 -1500 0 auto;
    padding: 20px;
}
